* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #4f93a9;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.timer {
    color: white;
    display: flex;
    height: 30vh;
    flex-direction: row;
    gap: 2rem;
    width: 30vw;
}

.text{
    width: 50%;
    display: inherit;
    align-items: center;
}

button{
    height: 2rem;
    font-size: 1rem;
    border-radius: 2rem;
    border: 2px solid rgba(211, 211, 211, 0.4);
    background: transparent;
    color: inherit;
    text-transform: uppercase;
    transition: height 0.4s ease-out, font-size 0.4s ease-out;
    width: 7rem;
}

button:hover{
    height: 3rem;
    font-size: 1.5rem;
    cursor: pointer;
}

.actions{
    display: flex;
    gap: 2rem;
    flex-direction: column;
    justify-content: center;
}

